@font-face {
  font-display: swap;
  font-family: "Proxima Nova Condensed";
  font-weight: 900;
  font-style: normal;
  src: url("/fonts/proxima-nova-cond-black.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Proxima Nova Condensed";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/proxima-nova-cond-bold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Proxima Nova Condensed";
  font-weight: 800;
  font-style: normal;
  src: url("/fonts/proxima-nova-cond-extrabold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Proxima Nova Condensed";
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/proxima-nova-cond-semibold.woff") format("woff");
}
