
@use "@styles/func";
@use "@styles/variables";
@use "@styles/mixins";

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: func.rem(8);
  color: var(--color-navy);
  margin-top: агтсюкуь(4);

  @include mixins.vp-1280 {
    gap: func.rem(5);
    margin-top: func.rem(2.54);
  }

  @include mixins.vp-320 {
    order: 1;
    align-items: center;
    gap: func.rem(4);
    margin-top: 0;
  }

  &__list {
    display: flex;
    column-gap: func.rem(24);
    row-gap: func.rem(8);
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    margin: 0;

    @include mixins.vp-1280 {
      column-gap: func.rem(16);
      row-gap: func.rem(5);
    }

    @include mixins.vp-320 {
      row-gap: func.rem(4);
    }
  }

  &__item {
    font-weight: 700;
    font-size: func.rem(18);
    line-height: func.rem(22);

    @include mixins.vp-1280 {
      font-size: func.rem(12);
      line-height: func.rem(15);
    }

    a {
      color: currentColor;
      white-space: nowrap;
      transition: opacity variables.$transition;

      @include mixins.hover-focus {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.48;
        transition: none;
      }
    }
  }

  &__copyright {
    font-weight: 400;
    font-size: func.rem(15);
    line-height: func.rem(18);
    opacity: 0.48;
    margin: 0;

    @include mixins.vp-1280 {
      font-size: func.rem(10);
      line-height: func.rem(12);
    }
  }
}
