
@use "@styles/func";
@use "@styles/variables";
@use "@styles/mixins";

.socials {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 8px;
  max-width: 296px;
  padding: 0;
  list-style: none;
  margin: 0 0 0 auto;

  @include mixins.vp-1280 {
    max-width: func.rem(197.33);
    column-gap: func.rem(8);
    row-gap: func.rem(5);
  }

  @include mixins.vp-320 {
    max-width: none;
    margin-left: 0;
  }

  &__item {
    display: flex;

    a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      aspect-ratio: 1;
      border-radius: 8px;
      color: var(--color-black);
      background-color: var(--color-orange);
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(#0b0b29, 0);
        border-radius: inherit;
        transition: background-color variables.$transition;
      }

      @include mixins.vp-1280 {
        width: func.rem(21.33);
        border-radius: func.rem(5.33);
      }

      @include mixins.vp-320 {
        width: func.rem(24);
      }

      @include mixins.hover-focus {
        &::before {
          background-color: rgba(#0b0b29, 0.16);
        }
      }

      &:active::before {
        background-color: rgba(#ffffff, 0.24);
        transition: none;
      }

      svg {
        z-index: 1;
        width: 25px;
        height: auto;

        @include mixins.vp-1280 {
          width: func.rem(17);
        }

        @include mixins.vp-320 {
          width: func.rem(19);
        }
      }
    }
  }
}
