@use "@styles/func";
@use "@styles/variables";
@use "@styles/mixins";

.container {
  width: 100%;
  max-width: 760px;
  padding: 0 20px;
  margin: 0 auto;

  @include mixins.vp-1280 {
    max-width: func.rem(520);
    padding: 0 func.rem(20);
  }

  @include mixins.vp-1024 {
    max-width: none;
  }
}
