---
import { Icon } from 'astro-icon/components'
import type { HTMLTag, Polymorphic } from 'astro/types'

type Props<Tag extends HTMLTag> = Polymorphic<
  { as: Tag } & {
    text?: string
    className?: string
    color?: 'green' | 'orange' | 'yellow'
    size?: 'lg' | 'md'
    modal?: string
  }
>

const {
  as: Tag = 'button',
  className,
  text,
  color = 'green',
  size = 'md',
  icon,
  iconPosBefore,
  modal,
  ...props
} = Astro.props
---

<Tag
  class:list={['button', `button--${size}`, `button--${color}`, className]}
  data-open-modal={modal}
  {...props}
>
  <slot />
  <span>{text}</span>
</Tag>
