@use "@styles/func";
@use "@styles/variables";
@use "@styles/mixins";

.button {
  z-index: 1;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: func.rem(8);
  font-weight: 900;
  color: var(--color-white);
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(#0b0b29, 0);
    border-radius: inherit;
    transition: background-color variables.$transition;
  }

  span {
    z-index: 1;
  }

  @include mixins.vp-1280 {
    border-radius: func.rem(5.33);
  }

  @include mixins.hover-focus {
    &::before {
      background-color: rgba(#0b0b29, 0.16);
    }
  }

  &:active::before {
    background-color: rgba(#ffffff, 0.24);
    transition: none;
  }

  &--md {
    height: func.rem(48);
    padding: func.rem(9) func.rem(18);
    font-size: func.rem(24);
    line-height: func.rem(29);

    @include mixins.vp-1280 {
      height: func.rem(32);
      padding: func.rem(6) func.rem(12);
      font-size: func.rem(16);
      line-height: func.rem(19);
    }
  }

  &--lg {
    height: func.rem(80);
    padding: func.rem(20) func.rem(32);
    font-size: func.rem(32);
    line-height: func.rem(39);

    @include mixins.vp-1280 {
      height: func.rem(53.33);
      padding: func.rem(13) func.rem(26);
      font-size: func.rem(21.33);
      line-height: func.rem(26);
    }
  }

  canvas {
    position: absolute;
    inset: 0;
    /* stylelint-disable-next-line declaration-no-important */
    width: 100% !important;
    /* stylelint-disable-next-line declaration-no-important */
    height: 100% !important;
  }

  &--green {
    background-color: var(--color-green);
  }

  &--orange {
    background-color: var(--color-orange);
  }

  &--yellow {
    color: var(--color-dark-navi);
    background-color: var(--color-paris-daisy);
  }
}
