---
import HeaderNav from './HeaderNav/HeaderNav.astro'
import LangSelect from './LangSelect/LangSelect.astro'
import Button from '../../ui/Button/Button.astro'
---

<header class="header">
  <nav class="header__inner">
    <HeaderNav />
    <LangSelect />
    <Button text="SIGN IN" className="header__button" />
  </nav>
</header>
