---
import { Icon } from 'astro-icon/components'
import FooterNav from './FooterNav/FooterNav.astro'
import Socials from './Socials/Socials.astro'
---

<footer class="footer">
  <div class="footer__inner">
    <a href="#" class="footer__logo" aria-label="nekki">
      <Icon name="nekki-logo" />
    </a>

    <FooterNav />
    <Socials />
  </div>
</footer>
