@use "@styles/func";
@use "@styles/variables";
@use "@styles/mixins";
@use "@styles/animations";

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: func.rem(36);
  padding-top: func.rem(48);
  padding-bottom: func.rem(64);
  margin-bottom: min(func.rem(52), 4.5vh);
  height: 100%;
  flex-grow: 1;

  &::before,
  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    width: func.rem(720);
    left: 50%;
    transform: translateX(-50%);
    mix-blend-mode: hard-light;
    filter: blur(func.rem(200));
  }

  &::before {
    top: func.rem(261);
    height: func.rem(960);
    background: linear-gradient(180deg, #2bd8ff 0%, rgba(160, 51, 255, 0) 100%);
  }

  &::after {
    top: func.rem(208);
    height: func.rem(1066);
    background: linear-gradient(180deg, #2bd8ff 0%, rgba(160, 51, 255, 0.72) 100%);
  }

  @include mixins.vp-1920 {
    gap: func.rem(36);
    padding-top: func.rem(16);
    padding-bottom: func.rem(32);
    margin-bottom: min(func.rem(35), 3.2vh);

    &::before,
    &::after {
      width: func.rem(720);
      filter: blur(func.rem(200));
    }

    &::before {
      top: func.rem(136);
      height: func.rem(720);
    }

    &::after {
      top: func.rem(176);
      height: func.rem(800);
    }
  }

  @include mixins.vp-1280 {
    gap: func.rem(23);
    padding-top: func.rem(11);
    padding-bottom: func.rem(42.67);
    margin-bottom: min(func.rem(4), 2.9vh);

    &::before,
    &::after {
      width: func.rem(480);
      filter: blur(func.rem(133.33));
    }

    &::before {
      top: func.rem(90.67);
      height: func.rem(480);
    }

    &::after {
      top: func.rem(117.33);
      height: func.rem(533.33);
    }
  }

  @include mixins.vp-1024 {
    padding-bottom: func.rem(32);
    margin-bottom: min(func.rem(14), 2vh);

    &::before {
      top: func.rem(100.27);
      height: func.rem(512);
    }

    &::after {
      top: func.rem(128.71);
      height: func.rem(568.89);
    }
  }

  @include mixins.vp-768 {
    margin-bottom: min(func.rem(48), 2.6vh);
    padding-top: func.rem(37);
    padding-bottom: func.rem(32);

    &::before {
      top: func.rem(151.47);
      height: func.rem(682.67);
    }

    &::after {
      top: func.rem(189.39);
      height: func.rem(758.52);
    }
  }

  @include mixins.vp-320 {
    gap: func.rem(16);
    margin-bottom: 0;
    padding-top: func.rem(16);
    padding-bottom: func.rem(32);

    &::before,
    &::after {
      width: func.rem(280);
    }

    &::before {
      top: func.rem(112);
      height: func.rem(364);
    }

    &::after {
      top: func.rem(131);
      height: func.rem(404);
    }
  }

  &__logo {
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: func.rem(-38);
    max-height: func.rem(441);
    min-height: func.rem(200);
    width: auto;
    height: 100%;
    aspect-ratio: 444 / 441;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @include mixins.vp-1920 {
      min-height: func.rem(100);
      max-height: func.rem(248);
    }

    @include mixins.vp-1280 {
      margin-bottom: func.rem(-30);
      min-height: func.rem(82);
      max-height: func.rem(165);
    }

    @include mixins.vp-1024 {
      transform: translateY(func.rem(-3));
      min-height: func.rem(120);
      max-height: func.rem(163);
    }

    @include mixins.vp-768 {
      transform: translateY(func.rem(-10));
      margin-bottom: func.rem(-14);
      max-height: func.rem(300);
    }

    @include mixins.vp-320 {
      transform: none;
      max-height: func.rem(128);
      min-height: func.rem(80);
    }

    &::before {
      z-index: -1;
      content: "";
      position: absolute;
      inset: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("/images/logo-blur.png");
      filter: blur(func.rem(1));
      transform: scale(1.1);
      opacity: 0.48;
      mix-blend-mode: overlay;
    }
  }

  &__text {
    z-index: 1;
    max-width: func.rem(600);
    font-weight: 900;
    font-size: func.rem(40);
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    text-shadow:
      func.rem(-4) func.rem(-4) 0 #224ea2,
      func.rem(4) func.rem(-4) 0 #224ea2,
      func.rem(-4) func.rem(4) 0 #224ea2,
      func.rem(4) func.rem(4) 0 #224ea2,
      func.rem(-4) 0 0 #224ea2,
      func.rem(4) 0 0 #224ea2,
      0 func.rem(-4) 0 #224ea2,
      0 func.rem(4) 0 #224ea2;
    color: var(--color-white);
    margin: 0;

    strong {
      color: #fff55c;
    }

    @include mixins.vp-1280 {
      max-width: func.rem(400);
      font-size: func.rem(26.67);
      text-shadow:
        func.rem(-2.67) func.rem(-2.67) 0 #224ea2,
        func.rem(2.67) func.rem(-2.67) 0 #224ea2,
        func.rem(-2.67) func.rem(2.67) 0 #224ea2,
        func.rem(2.67) func.rem(2.67) 0 #224ea2,
        func.rem(-2) 0 0 #224ea2,
        func.rem(2) 0 0 #224ea2,
        0 func.rem(-2) 0 #224ea2,
        0 func.rem(2) 0 #224ea2;
    }

    @include mixins.vp-320 {
      max-width: func.rem(280);
      font-size: func.rem(24);
      text-shadow:
        func.rem(-2.6) func.rem(-2.6) 0 #224ea2,
        func.rem(2.6) func.rem(-2.6) 0 #224ea2,
        func.rem(-2.6) func.rem(2.6) 0 #224ea2,
        func.rem(2.6) func.rem(2.6) 0 #224ea2,
        func.rem(-2.6) 0 0 #224ea2,
        func.rem(2.6) 0 0 #224ea2,
        0 func.rem(-2.6) 0 #224ea2,
        0 func.rem(2.6) 0 #224ea2;
    }
  }

  &__video {
    z-index: 0;
    position: relative;
    width: 100%;
    max-width: func.rem(675);
    box-sizing: content-box;
    transform: rotate(0.5deg);

    @include mixins.vp-1280 {
      max-width: func.rem(450);
    }

    @include mixins.vp-768 {
      max-width: func.rem(450);
    }

    @include mixins.vp-320 {
      max-width: func.rem(259);
    }

    video {
      z-index: 1;
      width: 100%;
      height: auto;
    }

    &::before {
      z-index: -1;
      content: "";
      position: absolute;
      inset: func.rem(-8);
      border: func.rem(8) solid var(--color-white);
      box-shadow: 0 0 func.rem(180) 0 #336aff, 0 0 func.rem(72) 0 #c2f3ff;

      @include mixins.vp-1280 {
        inset: func.rem(-5.33);
        border-width: func.rem(5.33);
        box-shadow: 0 0 func.rem(120) 0 #336aff, 0 0 func.rem(48) 0 #c2f3ff;
      }
    }
  }

  .content__button {
    min-width: func.rem(320);
    width: fit-content;

    &::before,
    &::after {
      content: "";
      position: absolute;
    }

    &::before {
      inset: func.rem(-4);
      border: func.rem(4) solid rgba(#22227a, 0.48);
      border-radius: func.rem(12);
      box-shadow: 0 0 func.rem(88) 0 rgba(#22227a, 0.48);
    }

    &::after {
      inset: 0;
      border-radius: inherit;
      box-shadow: 0 0 func.rem(16) 0 #ffffff, 0 0 func.rem(8) 0 #ffffff inset;
      backdrop-filter: blur(func.rem(4));
      animation: pulse 1.6s infinite;
    }

    @include mixins.vp-1920 {
      min-width: func.rem(320);
    }

    @include mixins.vp-1280 {
      min-width: func.rem(213.33);

      &::before {
        inset: func.rem(-2.67);
        border-width: func.rem(2.67);
        box-shadow: 0 0 func.rem(58.67) 0 rgba(#22227a, 0.48);
        border-radius: func.rem(8);
      }

      &::after {
        box-shadow: 0 0 func.rem(10.67) 0 #ffffff, 0 0 func.rem(5.33) 0 #ffffff inset;
        backdrop-filter: blur(func.rem(2.66));
      }
    }

    @include mixins.vp-320 {
      min-width: func.rem(214);
      margin-top: func.rem(4);
    }
  }
}
